.u-section-1 .u-sheet-1 {
  min-height: 1487px;
}

.u-section-1 .u-group-elements-1 {
  width: 692px;
  min-height: 323px;
  height: auto;
  margin: 30px 20px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 297px;
  width: 692px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 4px 0 0 301px;
}

.u-section-1 .u-group-elements-2 {
  width: 391px;
  min-height: 152px;
  height: auto;
  margin: -323px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 0 0 248px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 0 0 216px;
}

.u-section-1 .u-text-5 {
  margin: 20px 729px 0 20px;
}

.u-section-1 .u-text-6 {
  margin: 44px 20px 0;
}

.u-section-1 .u-group-elements-3 {
  width: 1100px;
  min-height: 640px;
  margin: 30px auto 0;
}

.u-section-1 .u-video-1 {
  height: 612px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-7 {
  margin: 6px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 26px 20px 0;
}

.u-section-1 .u-image-2 {
  width: 488px;
  height: 183px;
  margin: 112px auto 0 272px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 496px;
    min-height: 297px;
    margin-top: 56px;
  }

  .u-section-1 .u-image-1 {
    height: 271px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 221px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 529px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-group-elements-3 {
    width: 914px;
    height: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 52px;
    margin-bottom: 60px;
    margin-left: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 272px;
    min-height: 314px;
    margin-top: 0;
    margin-right: 17px;
  }

  .u-section-1 .u-image-1 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: -322px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 309px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-3 {
    width: 720px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 54px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 258px;
    min-height: 239px;
    margin-top: 136px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 213px;
    width: 248px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 116px;
    width: 528px;
    margin-top: -375px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 270px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 33px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1863px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 178px;
    width: 277px;
    margin-top: 204px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 9px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 122px;
    width: 340px;
    margin-top: -333px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: 236px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 128px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1618px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 24px 876px 0 21px;
}

.u-section-2 .u-video-1 {
  width: 1098px;
  height: 618px;
  margin: 30px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  margin: 20px 21px 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  width: 570px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 54px 865px 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 697px;
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    width: 940px;
    height: 529px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 686px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 477px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 297px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 86px;
  }
}