 .u-section-1 {
  min-height: 877px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 297px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 7px auto 0 0;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: -48px 0 0 auto;
  padding: 5px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 279px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 199px;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-2 {
  min-height: 199px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 371px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 76px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: -131px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 283px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-elements-3 {
  min-height: 199px;
  margin: 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 859px;
  background-image: url("images/FneHnvRacAEyEWn.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 707px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-bottom: -1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 233px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 708px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 560px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-bottom: -65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    background-position: 11.72% 100%;
    min-height: 542px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 977px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 659px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 733px;
  }

  .u-section-1 .u-image-1 {
    min-height: 415px;
  }
}