 .u-section-1 {
  min-height: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 249px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 174px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 282px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 372px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 294px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 1.875rem;
  font-weight: 300;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

.u-section-1 .u-image-1 {
  min-height: 826px;
  background-image: url("images/Fm1bHR4akAII8WE.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 296px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-1 .u-image-1 {
    min-height: 681px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 213px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 522px;
    background-position: 11.72% 100%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 513px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 208px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 316px;
  }

  .u-section-1 .u-image-1 {
    min-height: 400px;
  }
}